<!DOCTYPE html>
<html>
<%- include ./partials/head %>
    
<body>

            <header>
                <h1>Where does <br>it go?</h1>
            </header>

            <form action="/location" method="POST">
                <input type="hidden" name="fake-data" value="hit" >
                <input type="submit" name="zip">
            </form>
       
       

    </body>


 <script src="app.js"></script>



</html>