<!DOCTYPE html>
<html>
<%- include ./partials/head %>
    
<body>




            <header>

                <h1>Where does <br>it go?</h1>
                <form action="/item-categories" method="POST">
                <input type="hidden" name="fake-data" value="hit" >
                <input type="submit">Discover</input>
                </form>

            </header>


    </body>


<script src="app.js"></script>



</html>