<!DOCTYPE html>
<html>
<%- include ../partials/head %>
    
<body>

    <header>
        <h2>Material Categories</h2>
    </header>

    <section>
        <ul>
        <div>
            <li>
                <p>Plastic</p>
                <img src="../images/aluminum-can.jpg"/>
            </li>

            <li>
                <p>Glass</p>
                <img src="../images/glass.jpeg"/>
            </li>
        </div>

        <div>
            <li>
                <p>Paper</p>
                <img src="../images/paper.jpeg"/>
            </li>

            <li>
                <p>Metal</p>
                <img src="../images/glass.jpeg"/>
            </li>
        </div>

        <div>
            <li>
                <p>Electric</p>
                <img src="../images/pastic-bottle.jpg"/>
            </li>

            <li>
                <p>Auto</p>
                <img src="../images/food-waste.jpg"/>
            </li>
        </div>
        
        </ul>



    </section>




    </body>


<script src="app.js"></script>



</html>