<!DOCTYPE html>
<html>
<%- include ../partials/head %>
    
<body>

    <%- include ../partials/navigation %>
    <header class="material-categories">
        <h2 class="material-categories">Select Material:</h2>
    </header>
    

    <section class="material-categories" >
        <ul>
            <li>
                
                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="GLASS">
                        <input type="submit" value ="Glass">
                        <img src="../images/glass.jpeg"/>
                    </form>        
                </section> 

                <section>          
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="METAL">
                        <input type="submit" value ="Metal" >
                        <img src="../images/aluminum-can.jpg"/>
                    </form>        
                </section>
            </li>


            <li>
                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="PLASTIC">
                        <input type="submit" value ="Plastic">
                        <img src="../images/pastic-bottle.jpg"/>
                    </form>        
                </section>

                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="ELECTRONIC">
                        <input type="submit" value ="Electronic">
                        <img src="../images/electric.jpeg"/>
                    </form>        
                </section> 
            </li>


            <li>
                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="PAPER">
                        <input type="submit" value ="Paper">
                        <img src="../images/paper.jpeg"/>
                    </form>        
                </section> 
               

                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="FOOD">
                        <input type="submit" value ="Food Waste">
                        <img src="../images/food-waste.jpg"/>
                    </form>        
                </section> 
              
            </li>


        </ul>



    </section>




    </body>


<script src="app.js"></script>



</html>