<!DOCTYPE html>
<html>
<%- include ../partials/head %>
    
<body>

    <header>
        <h2>Material Categories</h>
    </header>

    <section>
        <ul>
            <li>
                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="name" value="plastic">
                        <p>Plastic</p>
                        <img src="../images/aluminum-can.jpg"/>
                        <input type="submit">
                    </form>
                        
                      
                </section>
                
                <section> 
                    <p>Glass</p>
                    <img src="../images/glass.jpeg"/>
                </section>   
            </li>


            <li>
                <section> 
                    <p>Paper</p>
                    <img src="../images/paper.jpeg"/>
                </section>

                <section>
                    <p>Metal</p>
                    <img src="../images/glass.jpeg"/>
                </section>   
            </li>


            <li>
                <section>
                     <p>Electric</p>
                    <img src="../images/pastic-bottle.jpg"/>
                </section>
               

                <section>
                     <p>Auto</p>
                    <img src="../images/food-waste.jpg"/>
                </section>
              
            </li>


        </ul>



    </section>




    </body>


<script src="app.js"></script>



</html>