<!DOCTYPE html>
<html>
<%- include ../partials/head %>
    
<body>

    <header>
        <h2>Material Categories</h>
    </header>

    <section>
        <ul>
            <li>
                <section>
                    <form action='/item-categories/<%   %>' method='POST'>
                        <input type="hidden" name="category" value="metal">
                        <input type="submit" value ="Metal" >
                        <img src="../images/aluminum-can.jpg"/>
                    </form>        
                </section>
                
                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="glass">
                        <input type="submit" value ="Glass">
                        <img src="../images/glass.jpeg"/>
                    </form>        
                </section> 
            </li>


            <li>
                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="plastic">
                        <input type="submit" value ="Plastic">
                        <img src="../images/pastic-bottle.jpg"/>
                    </form>        
                </section>

                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="electronics">
                        <input type="submit" value ="Electronic">
                        <img src="../images/electric.jpeg"/>
                    </form>        
                </section> 
            </li>


            <li>
                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="paper">
                        <input type="submit" value ="Paper">
                        <img src="../images/paper.jpeg"/>
                    </form>        
                </section> 
               

                <section>
                    <form action='/item-categories' method='POST'>
                        <input type="hidden" name="category" value="foodwaste">
                        <input type="submit" value ="Food Waste">
                        <img src="../images/food-waste.jpg"/>
                    </form>        
                </section> 
              
            </li>


        </ul>



    </section>




    </body>


<script src="app.js"></script>



</html>