<!DOCTYPE html>
<%- include ../partials/head %>
<html>
    <header>
        <h3> Sub-categories</h3>
    </header>
    <% subCatArr.forEach( subCat => { %>
    <form id="mat-sub-cat-form" action='/choose-sub-cat' method='POST'> 
        <input type="hidden" name="item" value="<%=subCat%>">
        <button type="submit" value="<%=subCat%>" >  <%=subCat%>  </button>
    </form> 
    <% }); %>
</html>