<!DOCTYPE html>
<%- include ../partials/head %>
<html>

<header>

    <h3>Results</h3>
</header>

<body >
        <div id="results-page">

        <form id="result">
                <h3 class="result-heading">
                    <%= destination[0] %>
                </h3>
            <% for(let i = 2; i < destination.length; i++){ %>
                <section class="<%= destination[i] %>">
                    <input type="hidden" name="fake-data" value="hit" >
                    <input type="submit" name="zip" value="<%= destination[i] %>">
                </section>
            <% } %>
          

        </form>
        </div>
    </body>

</html>