<!DOCTYPE html>
<%- include ../partials/head %>
<html>

<header>

    <h3> sub categories</h3>
</header>

    <form action='/disposal-instructions' method='POST'>
        <input type="hidden" name="name" value="item-type">

        <select>
            <!-- forEach loop to create an option tag for each item-type -->
            <option name="sub-category" value="item-type" > </option>
        </select>

        <input type="submit">
    </form>

</html>