<!DOCTYPE html>
<%- include ../partials/head %>
<html>
    <header>
        <h3> Sub-categories</h3>
    </header>
    <% items.forEach( specificItems => { %>
    <form id="sub-cat-form" action='/disposal-instructions' method='POST'> 
        <input type="hidden" name="item" value="<%=specificItems.item_name%>">
        <button type="submit" value="<%=specificItems.item_name%>" >  <%=specificItems.item_name%>  </button>
    </form> 
    <% }); %>
</html>