<!DOCTYPE html>
<%- include ../partials/head %>
<html>

<%- include ../partials/navigation %>

    <header>
    </header>

<body >
    <div class="results-page">
    <div id="title">
        <h3 id="h3"> Thanks for Choosing:</h3>
        <h4 id="h4"> Where does it go? </h4>
    </div>
       
        <form action="/" class="thank-you">
            <section class="thank-you"> 
                <input class="thank-you" type="hidden" name="more" value="hit" >
                <p class="thank-you">Thank you for considering how to toss your trash!
                    Together we can help more items be recycled, composted or reused in the city of Seattle. 
                </p>
                <input class="thank-you" type="submit" name="more" value="Search More Items">

                </section>
          
        </div>
        </form>
    </body>

</html>