<!DOCTYPE html>
<html>
<%- include ../partials/head %>
    
<body>

            <header>
                <h1>Upload Image </h1>
            </header>
            <!--this is the form for submit  -->
            <!-- <form action="/vision" method="GET">
                <input type="file" name="file" value="hit" >
                <input type="submit" name="image" value="submit">
                 -->
                 
                 <form class="upload" action="/vision" method="POST" enctype="multipart/form-data">
                      <!-- <label for="choose image">Choose a file</label> -->
                      <input class="inputfile" type="file" id="file" name="file">
                      <button class="inputfile">Submit</button>
                   </form>

<!-- 
                <input type="hidden" name="fake-data" value="hit" >
                <input type="submit" name="zip" value="Upload Image"> -->
            </form>
       
       

    </body>


 <script src="app.js"></script>



</html>