<!DOCTYPE html>
<html>
<%- include ../partials/head %>
    
<body>
        <%- include ../partials/navigation %>


            <header>
                <h1>Upload Image </h1>
            </header>
         
                 
                 <form class="upload" action="/vision" method="POST" enctype="multipart/form-data">
                      <!-- <label for="choose image">Choose a file</label> -->
                      <!-- <input type="text" name="my-text" value="hit"> -->
                      <input class="inputfile" type="file" id="file" name="img-file">
                      <input type="submit" value="upload">
                   </form>

            </form>
       
       

    </body>


 <script src="app.js"></script>



</html>