
@media screen and (max-width: 480px){
    html, body{
        height: 100%;
    }

    *{
        border-radius: 5px;
    }

    body{
        background: rgb(80, 169, 62);
        color: rgb(219, 222, 216);
        font-family: nunito;
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header{
        margin-top: 1em;
        font-size: 4em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 1em;
        max-width: 3em; 
    }

    a{
        color: rgb(219, 222, 216); 
    }

    input{
        display:block;
    }
    /* categories page */
    h2{
        font-size: .5em;
    }

    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    img{
        height: 9em;
        width: 9em;
    }

    li {
        display: flex;
        flex-direction: row;
    }

    li section{
        justify-content: center;
        margin: 1em;
    }

    /* sub categories page */
    #sub-cat-form{
        margin: 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    input{
        height: 4em;
        text-align: center;
        background: rgb(219, 222, 216); 
        color: rgb(38, 39, 38);
        margin: .5em;
        padding: .5em;
        width: 15em;
    }

    /* styling for results page */

    #results-page{
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2f/Space_Needle002.jpg); 
        width: 95%;
        height: 95%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .result-heading{
        color: rgb(2,2,2);
        font-size: 3em;
    }

    #result{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    #result>section, h3{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
    }

    #result section>input{
        height: 3em;
        font-size: 2em; 
        color: rgb(219, 222, 216); 
        width: 9em;
    }

   

    section.compost>input{
        background-color:  rgb(62, 121, 50);
    }

    section.recycle>input{
        background-color: rgb(72, 72, 197);
    }

    section.trash>input{
        background-color: rgb(90, 98, 92);
    }

    section.reuse>input{
        background-color: rgb(214, 200, 0);
    }


}


/* body{
    background: gray;
} */

