html, body{
    height: 100%;
}

*{
    border-radius: 5px;
}

/* index styling */
body{
    background: rgba(60, 138, 45, 0.9);
    color: rgb(219, 222, 216);
    font-family: nunito;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav img{
    position: fixed;
    width: 9%;
    left: 8px;
    top: 8px;
}

@media screen and (max-width: 480px){


    /* index styling */

    .index input{
        height: 2.5em;
        text-align: center;
        background: rgb(219, 222, 216);
        color: rgb(38, 39, 38);
        margin: .5em;
        padding: 0em;
        width: 10em;
        font-size: 1.5em;
        box-shadow: .1em .1em rgb(123, 124, 121);
    }

    .index input:hover{
        background: rgb(166, 173, 159);
    }

    header{
        font-size: 4em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1{
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        font-size: 1.2em;
        max-width: 3em; 
    }

    a{
        color: rgb(219, 222, 216); 
    }

    form.error{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .error p{
        background-color: rgba(50, 51, 49, .9);
        color: rgb(219, 222, 216);
        font-size: 1.6em;
        padding: .8em;  
        width: 60%;
        margin-bottom: 1em; 
    }

    input.error{
        height: 4em;
        width: 70%;
        text-align: center;
        background: rgb(219, 222, 216);
        font-size: 1.5em;
    }

    

    /* upload image page */
    .upload{
        display: flex;
        flex-direction: column;
        width: 18em;
    }

    .inputfile{
        font-size: 1em;
        color: rgb(38, 39, 38);
        background-color:rgb(219, 222, 216);
        display: inline-block;
        margin: 1em;
        padding: .5em;
    }
    
    /* categories page */
    header.material-categories{
        margin-top: 1px;
    }

    h2{
        font-size: .7em;
        margin: .6em 0em 0em .2em;
    }

    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    img{
        width: 100%;
        border-radius: 0px 0px 3px 3px;
        opacity: .9;
    }

    li {
        display: flex;
        flex-direction: row;
    }

    /* verify image page */
    section.user-image{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .user-image img{
        width: 60%;
    }

    h3.user-image{
        font-size: .9em;
        margin-bottom: .5em;
        width: 50%;
        text-align: center;
    }

    section.user-image input[type="submit"]{
        font-size: 1em;
        color: rgb(38, 39, 38);
        background-color:rgb(219, 222, 216);
        display: inline-block;
        margin: 1em;
        padding: .5em; 
        width: 15em;
 
    }
  
   

    .material-categories input{
        height: 2em;
        text-align: center;
        background: rgb(219, 222, 216);
        color: rgb(38, 39, 38);
        padding: .5em;
        width: 100%;
        border: none;
        border-radius: 3px 3px 0px 0px;
    }

    .material-categories form{
        margin-bottom: -.16em;
    }

    section.material-categories{
        margin-left: 10%;
    }

    .material-categories input{
        font-weight: bold;
    }

    .material-categories ul {
        width: 90%;
        height: 80%;
    }

    li section{
        width: 100%;
        justify-content: center;
        align-content: center;
        font-size: 1.5em;
        box-shadow: .15em .15em rgba(20, 49, 14, 0.9);
        margin: 5%;
        border-radius: 3px;
    }

    /* sub categories page */

    .sub-cat {
        font-size: 1.1em;
    }

    .sub-cat-form{
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sub-cat-form button{
        align-content: center;
        line-height: 3em;
        height: 3em;
        /* padding: 1em 1em 1em 1em; */
        width: 15em;
        font-size: 1.em;
        white-space:normal !important;
        line-height:normal !important;
        padding: 2%;
    }

    /* material-subcat styling */






    /* styling for results page */

   

    .results-page{
        /* background-color: rgb(219, 222, 216); */
        background-image: url(../images/Space_Needle.jpeg); 
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 3em;
    }

    #h3, #h4{
        color: rgb(38, 39, 38);
        font-size: 2em;
        text-align: center;
    }
    #h4{
        text-align: center;
    }

    #h3{
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .result{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

  

    .result section>input{
        height: 4em;
        font-size: 1.5em; 
        color: rgb(219, 222, 216); 
        width: 12em;
        margin-bottom: .4em;
        border-radius: 0px 0px 3px 3px;
    }

   p{
       background-color: rgb(219, 222, 216); 
       color: rgb(38, 39, 38);
       text-align: center;
       padding-top: 4px;
       border-radius: 3px 3px 0px 0px;
   }
   

    section.yard>input{
        background-color:  rgba(62, 121, 50, .7);
    }

    section.recycling>input{
        background-color: rgba(72, 72, 197, .7);
    }

    section.garbage>input{
        background-color: rgba(90, 98, 92, .7);
    }

    section.reuse>input{
        background-color: rgba(214, 200, 0, .7);
    }

    section.waste_transfer>input{
        background-color: rgba(3, 63, 62, .7);
    }

    section.hazard>input{
        background-color: rgba(107, 11, 24, 0.7);
    }

    section.transfer>input{
        background-color: rgba(20, 21, 22, 0.7);

    }

    /* thank-you page */


    p.thank-you{
        padding: 10px;
        font-size: 1.7em; 
        color: rgb(219, 222, 216); 
        width: 10em;
        margin-bottom: .4em;
        border-radius: 0px 0px 3px 3px;
        background-color: rgba(41, 97, 56, 0.4);

    }

    input.thank-you{
        height: 4em;
        font-size: 1.5em; 
        color: rgb(234, 235, 233); 
        width: 12em;
        margin-bottom: .4em;
        border-radius: 0px 0px 3px 3px;
        background-color: rgba(61, 68, 58, 0.5);

    }
    


}


